[submodule "container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
	shallow = true
[submodule "intrusive"]
	path = libs/intrusive
	url = https://github.com/boostorg/intrusive.git
	shallow = true
[submodule "cmake"]
	path = tools/cmake
	url = https://github.com/boostorg/cmake.git
	shallow = true
[submodule "core"]
	path = libs/core
	url = https://github.com/boostorg/core.git
	shallow = true
[submodule "assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
	shallow = true
[submodule "static_assert"]
	path = libs/static_assert
	url = https://github.com/boostorg/static_assert.git
	shallow = true
[submodule "move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
	shallow = true
[submodule "config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
	shallow = true
[submodule "type_traits"]
	path = libs/type_traits
	url = https://github.com/boostorg/type_traits.git
	shallow = true
[submodule "container_hash"]
	path = libs/container_hash
	url = https://github.com/boostorg/container_hash.git
	shallow = true
[submodule "winapi"]
	path = libs/winapi
	url = https://github.com/boostorg/winapi.git
	shallow = true
[submodule "detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
	shallow = true
[submodule "throw_exception"]
	path = libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
	shallow = true
[submodule "predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
	shallow = true
[submodule "integer"]
	path = libs/integer
	url = https://github.com/boostorg/integer.git
	shallow = true
